@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

li {
    margin-top: 8px;
} 

$mat-card-header-size: 40px !default;

.mat-card-avatar {
  height: $mat-card-header-size;
  width: $mat-card-header-size;
  border-radius: 50%;
  flex-shrink: 0; 
  object-fit: cover;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.account-name {
    margin: 10px;
    color: white;
    font-size: 0.9em;
} 

.mat-button, .mat-icon-button, .mat-stroked-button {
    color: white;
}