
mat-slider {
    margin: 5px;
}

mat-form-field {
    margin-right: 40px;
} 

.forms {
    display: grid;
    width: 65%;
} 

span {
    font-weight: bold;
    background: lightgray;
    padding: 0.3em 0.8em;
    cursor: pointer;
}

button {
    margin: 5px;
}

.delete-user {
    cursor: pointer; 
    color: #C3362B;
} 

.container-small {
    margin-top: 15px;
    margin-bottom: 15px; 
}